nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 20px 0;
  overflow-y: auto;
}

.is-menu-open nav {
  display: block;
}

nav input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 0;
  margin: 0;
}

nav input[type="checkbox"] ~ ul {
  height: 0;
  overflow: hidden;
}

nav input[type="checkbox"]:checked ~ ul {
  height: auto;
}

nav input[type="checkbox"]:not(:checked) ~ ul li {
  display: none;
}

nav {
  padding: 8px 0;
	border-right: 1px solid #ddd;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  margin: 0;
}

nav li.is-active:before {
  content: " ";
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: #000;
  opacity: 0.06;
}

nav li > *:first-child {
  margin-left: 20px;
}

nav li li > *:first-child {
  margin-left: 35px;
}

nav li li li > *:first-child {
  margin-left: 50px;
}

nav li li li li > *:first-child {
  margin-left: 65px;
}

nav input[type="checkbox"] {
	position: relative;
}

nav input[type="checkbox"]::after {
	display: block;
	content: '';
	position: absolute;
	top: -0.6em;
	left: -1em;
  width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 7px solid #aaa;
  transform-origin: 0.2em 0.3em;
}

nav input[type="checkbox"]:checked::after {
	transform: rotate(90deg);
}

nav a {
  color: #555;
  font-size: 0.85rem;
  height: 30px;
  line-height: 30px;
}

nav a:hover {
  text-decoration: none;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

main:not(:hover) {
  overflow: hidden;
}

.is-menu-open main {
  left: 200px;
}

main.top {
  bottom: 0;
}

main > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	width: 300px;
	height: 300px;
  text-align: center;
}

main.top ul {
  list-style: none;
  padding: 0;
  font-size: 0;
}

main.top li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}

main.top li:first-child {
  text-align: right;
  border-right: solid 1px #ddd;
}

main.top li:nth-child(2) {
  text-align: left;
}

main.top h1 {
  margin-top: 15px;
  font-size: 2.25rem;
  font-weight: 200;
  color: #555;
}

main.top a {
  font-size: 1rem;
}

body.license .license pre {
  background-color: #fff !important;
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    padding: 20px;
    word-wrap: break-word;
}
* {
    font-size: 14px;
    line-height: 1.6;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body>:first-child {
    margin-top: 0!important
}
body>:last-child {
    margin-bottom: 0!important
}
a {
    background: 0 0;
    color: #4183c4;
    text-decoration: none
}

a:active,
a:hover {
  outline: 0
}
a:active,
a:focus,
a:hover {
  text-decoration: underline
}

.md strong {
    font-weight: 700
}
.md em {
    font-style: italic
}
.md blockquote,
.md dl,
.md ol,
.md p,
.md pre,
.md table,
.md ul {
    margin-top: 0;
    margin-bottom: 16px
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    position: relative;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4
}
.md h1 {
    margin-top: 0;
}
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    margin-top: 1.5em;
}
.md h1,
.md h2,
.md h3 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
}
.md h1 {
    font-size: 1.75em;
    line-height: 1.225;
    font-weight: 200;
    color: #555;
}
.md h1:before {
    content: " ";
    margin: 0 7px 0 0;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/AppIcon_small.png);
    background-size: contain;
    transform: translateY(5px);
}
.md h2 {
    font-size: 1.375em;
}
.md h3 {
    font-size: 1.25em;
}
.md h4 {
    font-size: 1.125em;
}
.md h5 {
    font-size: 1em;
}
.md h6 {
    font-size: 1em;
    color: #777;
}
.md code,
.md kbd,
.md pre {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace
}
.md code {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px
}
.md code:after,
.md code:before {
    letter-spacing: -.2em;
    content: '\00a0'
}
.md pre {
    word-wrap: normal;
    padding: 10px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.md pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background: 0 0
}
.md pre code:after,
.md pre code:before {
    content: normal
}
.md pre>code {
    font-size: 1em;
    word-break: normal;
    white-space: pre;
    border: 0
}
.md kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 5px 5px 1px;
    margin: 0 1px;
    font-size: 11px;
    line-height: 10px;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-shadow: 0 1px 0 #ccc
}
.md hr:after,
.md hr:before {
    display: table;
    content: ''
}
.md input {
    color: inherit;
    font: inherit;
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
    font-family: Helvetica, Arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'
}
.md input[disabled] {
    cursor: default
}
.md input[type=checkbox] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
.md blockquote {
    margin: 0 0 16px;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}
.md blockquote>:first-child {
    margin-top: 0
}
.md blockquote>:last-child {
    margin-bottom: 0
}
.md img {
    border: 0;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.md hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    background: #e7e7e7;
    height: 4px;
    padding: 0;
    margin: 16px 0;
    border: 0
}
.md hr:after {
    clear: both
}
.md td,
.md th {
    padding: 0
}
.md table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: auto;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}
.md table td,
.md table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}
.md table th {
    font-weight: 700
}
.md table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}
.md table tr:nth-child(2n) {
    background-color: #f8f8f8
}
.md ol,
.md ul {
    padding: 0 0 0 2em
}
.md ol ol,
.md ul ol {
    list-style-type: lower-roman
}
.md ol ol,
.md ol ul,
.md ul ol,
.md ul ul {
    margin-top: 0;
    margin-bottom: 0
}
.md ol ol ol,
.md ol ul ol,
.md ul ol ol,
.md ul ul ol {
    list-style-type: lower-alpha
}
.md li>p {
    margin-top: 16px
}
.md dd {
    margin-left: 0
}
.md dl {
    padding: 0
}
.md dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}
.md dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}
