body {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  word-wrap: break-word;
  background-color: #fff;
}
* {
  font-size: 14px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav > div,
header > div,
footer > div,
section > div {
  max-width: 1024px;
  margin: auto;
}

nav {
  height: 47px;
  border-bottom: 1px solid #979797;
}
nav > div {
  height: 100%;
}
nav a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 100;
  height: 47px;
  line-height: 47px;
}
nav a:first-child {
  color: #000;
  float: left;
  margin-left: 36px;
  font-weight: 200;
}
nav a:not(:first-child) {
  color: #888;
  float: right;
  margin-right: 36px;
}
nav a:hover {
  color: #4183c4;
}

html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 96px;
}
footer {
  position: absolute;
  bottom: 0;
  height: 96px;
  width: 100%;
  background-color: #f6f6f6;
  border-top: 1px solid #979797;
}
footer > div {
  height: 100%;
}
footer a {
  text-decoration: none;
  color: #888;
  font-size: 1.3rem;
  font-weight: 100;
  float: left;
  margin-left: 36px;
  height: 47px;
  line-height: 47px;
}
footer a:hover {
  color: #4183c4;
}
footer p {
  clear: both;
  margin-left: 36px;
  font-size: 1.0rem;
  color: #888;
  font-weight: 100;
}
footer p:last-child {
  font-size: 0.9rem;
}

/* Home Content */

#home header {
  height: 380px;
  background-color: #f6f6f6;
}

#home header > div {
  position: relative;
}

#home header h1,
#home header h2,
#home header p {
  position: absolute;
  left: 100px;
  font-weight: 200;
}

#home header h1 {
  top: 111px;
  font-size: 3.0rem;
  color: #000;
}

#home header h2 {
  top: 183px;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #4a4a4a;
}

#home header p {
  top: 261px;
  font-size: 1.8rem;
  color: #000;
}

#home header > div > img {
  position: absolute;
  top: 64px;
  right: 133px;
  width: 256px;
  height: 256px;
}

#home header > div > a {
  position: absolute;
  top: 255px;
  left: 264px;
  width: 165px;
  height: 40px;
}

#home header > div > a > img {
  width: 100%;
  height: 100%;
}

#home > section > div {
  position: relative;
  padding-bottom: 60px;
}

#home > section ~ section > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
  border-top: 1px solid #979797;
}

#home section h1 {
  padding-top: 39px;
  color: #4a4a4a;
  font-size: 2.25rem;
  text-align: center;
  font-weight: 500;
}

#home section p {
  padding: 20px 80px 0;
  font-size: 1.35rem;
  line-height: 1.8rem;
  font-weight: 200;
}

#home section h2 {
  font-size: 1.85rem;
  font-weight: 500;
  color: #4a4a4a;
}

#home section ul li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 200;
  color: #4a4a4a;
  padding-left: 1.7rem;
  line-height: 1.4rem;
  margin-top: 0.7rem;
}
#home section ul li:before {
  position: absolute;
  content:"・";
  left: 0;
  font-size: 1.4rem;
  font-weight: 100;
  vertical-align: middle;
}
#home section ul li span {
  font-size: 1.0rem;
  font-weight: 200;
  color: #4a4a4a;
}

#home section section {
  position: relative;
}
#home section section > a img {
  width: 100%;
  height: 100%;
}

#home section.playback {
  height: 315px;
}
#home section.playback > div {
  position: absolute;
  top: 104px;
  left: 61px;
  width: 240px;
}
#home section.playback > a.main-view {
  position: absolute;
  top: 36px;
  right: 377px;
  width: 307px;
  height: 213px;
}
#home section.playback > a.mixer-panel {
  position: absolute;
  top: 15px;
  right: 114px;
  width: 198px;
  height: 117px;
}
#home section.playback > a.synthesizer-sheet {
  position: absolute;
  top: 161px;
  right: 72px;
  width: 282px;
  height: 122px;
}

#home section.preview {
  height: 435px;
}
#home section.preview > div {
  position: absolute;
  top: 124px;
  right: 74px;
  width: 250px;
}
#home section.preview > a.piano-roll {
  position: absolute;
  top: 24px;
  left: 112px;
  width: 329px;
  height: 248px;
}
#home section.preview > a.event-list {
  position: absolute;
  top: 150px;
  left: 235px;
  width: 329px;
  height: 248px;
}

#home section.editor {
  height: 325px;
}
#home section.editor > div {
  position: absolute;
  top: 90px;
  left: 81px;
  width: 270px;
}
#home section.editor > a.embedded {
  position: absolute;
  top: 44px;
  right: 362px;
  width: 264px;
  height: 215px;
}
#home section.editor > a.external {
  position: absolute;
  top: 70px;
  right: 88px;
  width: 232px;
  height: 165px;
}

#home section.language > div {
  position: relative;
  margin: auto;
  width: 570px;
  padding-bottom: 20px;
}
#home section.language > div h2 {
  text-align: center;
}

#home section.synthesizer {
  height: 325px;
}
#home section.synthesizer > div {
  position: absolute;
  top: 92px;
  left: 81px;
  width: 500px;
}
#home section.synthesizer > a.preference {
  position: absolute;
  top: 40px;
  right: 89px;
  width: 324px;
  height: 229px;
}

#home section.export > div {
  position: relative;
  margin: auto;
  width: 625px;
  padding-bottom: 20px;
}
#home section.export > div h2 {
  text-align: center;
}


/* Markdown Content */

.md {
  padding: 15px 80px 60px;
}

.md a {
    background: 0 0;
    color: #4183c4;
    text-decoration: none
}
.md a:active,
.md a:hover {
    outline: 0
}
.md a:active,
.md a:focus,
.md a:hover {
    text-decoration: underline
}
.md strong {
    font-weight: 700
}
.md em {
    font-style: italic
}
.md blockquote,
.md dl,
.md ol,
.md p,
.md pre,
.md table,
.md ul {
    margin-top: 0;
    margin-bottom: 16px
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4
}
.md h1,
.md h2,
.md h3 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
}
.md h1 {
    font-size: 1.75em;
    line-height: 1.225;
    font-weight: 200;
    color: #555;
}
.md h1:before {
    content: " ";
    margin: 0 7px 0 0;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/AppIcon_small.png);
    background-size: contain;
    transform: translateY(5px);
}
.md h2 {
    font-size: 1.375em;
}
.md h3 {
    font-size: 1.25em;
}
.md h4 {
    font-size: 1.125em;
}
.md h5 {
    font-size: 1em;
}
.md h6 {
    font-size: 1em;
    color: #777;
}
.md code,
.md kbd,
.md pre {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace
}
.md code {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px
}
.md code:after,
.md code:before {
    letter-spacing: -.2em;
    content: '\00a0'
}
.md pre {
    word-wrap: normal;
    padding: 10px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.md pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background: 0 0
}
.md pre code:after,
.md pre code:before {
    content: normal
}
.md pre>code {
    font-size: 1em;
    word-break: normal;
    white-space: pre;
    border: 0
}
.md kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 5px 5px 1px;
    margin: 0 1px;
    font-size: 11px;
    line-height: 10px;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-shadow: 0 1px 0 #ccc
}
.md hr:after,
.md hr:before {
    display: table;
    content: ''
}
.md input {
    color: inherit;
    font: inherit;
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
    font-family: Helvetica, Arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'
}
.md input[disabled] {
    cursor: default
}
.md input[type=checkbox] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
.md blockquote {
    margin: 0 0 16px;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}
.md blockquote>:first-child {
    margin-top: 0
}
.md blockquote>:last-child {
    margin-bottom: 0
}
.md img {
    border: 0;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.md hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    background: #e7e7e7;
    height: 4px;
    padding: 0;
    margin: 16px 0;
    border: 0
}
.md hr:after {
    clear: both
}
.md td,
.md th {
    padding: 0
}
.md table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: auto;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}
.md table td,
.md table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}
.md table th {
    font-weight: 700
}
.md table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}
.md table tr:nth-child(2n) {
    background-color: #f8f8f8
}
.md ol,
.md ul {
    padding: 0 0 0 2em
}
.md ol ol,
.md ul ol {
    list-style-type: lower-roman
}
.md ol ol,
.md ol ul,
.md ul ol,
.md ul ul {
    margin-top: 0;
    margin-bottom: 0
}
.md ol ol ol,
.md ol ul ol,
.md ul ol ol,
.md ul ul ol {
    list-style-type: lower-alpha
}
.md li>p {
    margin-top: 16px
}
.md dd {
    margin-left: 0
}
.md dl {
    padding: 0
}
.md dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}
.md dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}
