body {
  font-family: Helvetica, sans-serif;
  background-color: #4a4a4a;
  color: #fff;
}

.btn-exit {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  padding: 3px 20px;
  text-decoration: none;
  font-size: 16.0px;
  text-align: center;
}

.btn-exit:active {
  background-color: #47131b;
  border-color: #ff4261;
  color: #ff4261;
}

/* Introduction */

.introduction {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 20vw;
  text-align: center;
  vertical-align: middle;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.introduction h1 {
  font-size: 6.0vw;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.introduction h2 {
  font-size: 4.0vw;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.introduction p {
  font-size: 3.0vw;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.introduction.is-stage1    { transform: translate(0,0vw); }
.introduction.is-stage1 h1 { opacity: 1; }
.introduction.is-stage1 h2 { }
.introduction.is-stage1 p  { }
                     
.introduction.is-stage2    { transform: translate(0,-5vw); }
.introduction.is-stage2 h1 { opacity: 1; }
.introduction.is-stage2 h2 { }
.introduction.is-stage2 p  { opacity: 1; }
                     
.introduction.is-stage3    { transform: translate(0,-10vw); }
.introduction.is-stage3 h1 { opacity: 1; }
.introduction.is-stage3 h2 { opacity: 1; }
.introduction.is-stage3 p  { opacity: 1; }

.introduction.is-exit { transform: translate(-100vw,-10vw); }
