<head>
  <meta charset="utf-8"/>
  <title><%= title %></title>
  <meta content="<%= description %>" name="description" />
<% if (typeof robots != 'undefined') { -%>
  <meta name="ROBOTS" content="<%= robots %>" />
<% } -%>
  <link rel="stylesheet" type="text/css" href="./help.css" />
  <script src="./help.js"></script>
</head>
