<html xmlns="http://www.w3.org/1999/xhtml">
  <% include _header.ejs -%>
  <body>
    <a name="top"></a>

    <nav></nav>

    <main class="top">
      <div>
        <img src="../images/AppIcon.png" alt="Application Icon" height="190" width="190" />
        <h1>NASequencer Help</h1>
        <ul>
          <li>
            <a href="overview.html">Overview</a>
          </li>
          <li>
            <a id="topic" href="#">Show topics</a>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
