<html xmlns="http://www.w3.org/1999/xhtml">
  <% include _header.ejs -%>
  <body>
    <a name="<%= anchor %>"></a>

    <nav>
      <%- index %>
    </nav>

    <main class="md">
      <%- content %>
    </main>
  </body>
</html>
