<html xmlns="http://www.w3.org/1999/xhtml">
  <% include _header.ejs -%>
  <body>
    <nav>
      <%- index %>
    </nav>

		<main class="md">
      <a name="<%= anchor %>"></a>
      <%- content %>
    </main>
  </body>
</html>
