<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>NAMIDI MIDI Help</title>
    <link rel="stylesheet" type="text/css" href="../shared/application.css" />
    <script src="../shared/application.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a class="js-transit" href="#overview">NAMIDI Overview</a>
        </li>
        <li>
          <a class="js-transit" href="#getting_started">Getting Started</a>
        </li>
        <li>
          <a class="js-transit" href="#operation_manual">Operation Manual</a>
          <ul>
            <li>
              <a class="js-transit" href="#general">General</a>
            </li>
            <li>
              <a class="js-transit" href="#preference">Preferences</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="js-transit" href="#syntax_reference">Syntax Reference</a>
          <ul>
            <li>
              <a class="js-transit" href="#namidi">Note as MIDI</a>
            </li>
            <li>
              <a class="js-transit" href="#abc">ABC Notation</a>
            </li>
            <li>
              <a class="js-transit" href="#mml">Music Macro Language</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="js-transit" href="#support">Customer Support</a>
        </li>
        <li>
          <a class="js-transit" href="#license">Third-Party Licenses</a>
        </li>
      </ul>
    </nav>

		<main>
      <a name="top"></a>
      <div class="top">
        <img src="../shared/AppIcon.png" alt="" height="190" width="190" />
        <h1>NAMIDI Help</h1>
        <ul>
          <li>
            <a class="js-transit" href="#overview">Overview</a>
          </li>
          <li>
            <a id="topic" href="#">Topics</a>
          </li>
        </ul>
      </div>

      <a name="overview"></a>
      <div class="overview">
        <h2>NAMIDI Overview</h2>
        <p>This section will be documented on Version 0.5.0. 😵</p>
      </div>

      <a name="getting_started"></a>
      <div class="getting_started">
        <h2>Getting Started</h2>
        <p>This section will be documented on Version 0.5.0. 😵</p>
      </div>

      <a name="operation_manual"></a>
      <a name="general"></a>
      <a name="preference"></a>
      <div class="operation_manual">
        <h2>Operation Manual</h2>

        <div class="general">
          <h3 >General</h3>
          <p>This section will be documented on Version 0.5.0. 😵</p>
        </div>

        <div class="preference">
          <h3>Preferences</h3>
          <p>This section will be documented on Version 0.5.0. 😵</p>
        </div>
      </div>

      <a name="syntax_reference"></a>
      <a name="namidi"></a>
      <a name="abc"></a>
      <a name="mml"></a>
      <div class="syntax_reference">
        <h2>Syntax Reference</h2>

        <div class="namidi">
          <h3 >Note as MIDI</h3>
          <%- namidi %>
        </div>

        <div class="abc">
          <h3>ABC Notation</h3>
          <%- abc %>
        </div>

        <div class="mml">
          <h3>Music Macro Language</h3>
          <%- mml %>
        </div>
      </div>

      <a name="support"></a>
      <div class="support">
        <h2>Customer Support</h2>
        <p>This section will be documented on Version 0.5.0. 😵</p>
      </div>

      <a name="license"></a>
      <div class="license">
        <h2>Third-Party Licences</h2>
        <%- license %>
      </div>
    </main>
  </body>
</html>
