<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta charset="utf-8" />
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="syntax.css">
</head>
<body>
<%- body %>
</body>
</html>
