<!DOCTYPE html>
<html lang="en">
<% include ../_header.ejs -%>
<body>
<% include ../_navigation.ejs -%>

  <section>
    <div class="md">

<%- getting_started %>

    </div>
  </section>

<% include ../_footer.ejs -%>
</body>
</html>
