  <footer>
    <div>
      <a href="/privacy-policy.html">Privacy Policy</a>
      <a href="/specified-commercial-transaction-law.html">Specified Commercial Transaction Law</a>

      <p>Copyright &copy; 2016 Noriyoshi Abe. All Rights Reserved.</p>
      <p>App Store is a service mark of Apple Inc.</p>
    </div>
  </footer>
