<!DOCTYPE html>
<html lang="en">
<% include _header.ejs -%>
<body id="home">
<% include _navigation.ejs -%>

  <header>
    <div>
      <h1>NASequencer for Mac</h1>
      <h2>Text-based MIDI Composing Application.</br>For Composition, Transcribe, Karaoke, etc.</h2>
      <p>Try it for Free!</p>
      <a href="#"><img src="/Download_on_the_Mac_App_Store_Badge_US-UK_165x40.svg" alt="Download on the Mac App Store"/></a>
      <img src="/images/AppIcon.png" alt="Application Icon" />
    </div>
  </header>

  <section>
    <div>
      <h1>Overview</h1>
      <p>NASequencer is a text-based MIDI composition App.  It focuses on quick composing and easy management.  There have been several apps with musical notation for generating music sequence.  Generally, plain-text is easy to edit and manage, however it can often be unreadable in music composition.  NASequencer assists you to read structure of music composition by real-time previewing with piano roll and event list.  Additionally, it assists you to check sound of ensemble by SoundFont synthesizer.</p>
    </div>
  </section>

  <section>
    <div>
      <h1>Basic Features</h1>

      <section class="playback">
        <div>
          <h2>Playback</h2>
          <ul>
            <li>Mixer Controll</li>
            <li>SoundFont Synthesizer</li>
          </ul>
        </div>

        <a class="main-view" href="/images/playback-main-view.png" target="_blank">
          <img src="/images/playback-main-view.png" alt="Main View" />
        </a>
        <a class="mixer-panel" href="/images/playback-mixer-panel.png" target="_blank">
          <img src="/images/playback-mixer-panel.png" alt="Mixer Panel" />
        </a>
        <a class="synthesizer-sheet" href="/images/playback-synthesizer-sheet.png" target="_blank">
          <img src="/images/playback-synthesizer-sheet.png" alt="Synthesizer Sheet" />
        </a>
      </section>

      <section class="preview">
        <div>
          <h2>Preview Sequence</h2>
          <ul>
            <li>Piano Roll</li>
            <li>Event List</li>
          </ul>
        </div>

        <a class="piano-roll" href="/images/preview-piano-roll.png" target="_blank">
          <img src="/images/preview-piano-roll.png" alt="Piano Roll" />
        </a>
        <a class="event-list" href="/images/preview-event-list.png" target="_blank">
          <img src="/images/preview-event-list.png" alt="Event List" />
        </a>
      </section>

      <section class="editor">
        <div>
          <h2>Editor</h2>
          <ul>
            <li>Embedded Editor</li>
            <li>Using External Editor</li>
          </ul>
        </div>

        <a class="embedded" href="/images/editor-embedded-editor.png" target="_blank">
          <img src="/images/editor-embedded-editor.png" alt="Embedded Editor" />
        </a>
        <a class="external" href="/images/editor-using-external-editor.png" target="_blank">
          <img src="/images/editor-using-external-editor.png" alt="Using External Editor" />
        </a>
      </section>

      <section class="language">
        <div>
          <h2>Languages Support</h2>
          <ul>
            <li>Note as Sequence<br/><span>* NASequencer original format.  Focused on readability and affinity for event list</span></li>
            <li>ABC Notation Version 2.1</li>
            <li>Music Macro Language</li>
          </ul>
        </div>
      </section>
    </div>
  </section>

  <section>
    <div>
      <h1>Full Version</h1>

      <section class="synthesizer">
        <div>
          <h2>Adding Synthesizer</h2>
          <ul>
            <li>Loading additional synthesizer<br/><span>* with SoundFont file (.sf2 format)</span></li>
            <li>Mix multiple sound from different SoundFont</li>
          </ul>
        </div>

        <a class="preference" href="/images/synthesizer-preference.png" target="_blank">
          <img src="/images/synthesizer-preference.png" alt="Synthesizer Preference" />
        </a>
      </section>

      <section class="export">
        <div>
          <h2>Export</h2>
          <ul>
            <li>Standard MIDI File (Format 1)</li>
            <li>Waveform Audio File Format (WAV 44.1kHz Linear PCM 16bit stereo)</li>
            <li>Advanced Audio Coding (AAC 44.1kHz 192kbps stereo)</li>
          </ul>
        </div>
      </section>
    </div>
  </section>

<% include _footer.ejs -%>
</body>
</html>
