<!DOCTYPE html>
<html lang="en">
<% include _header.ejs -%>
<body>
<% include _navigation.ejs -%>

  <section>
    <div class="md">

<%- content -%>

    </div>
  </section>

<% include _footer.ejs -%>
</body>
</html>
