nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 20px 10px;
  overflow-y: auto;
}

.is-menu-open nav {
  display: block;
}

nav input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 0;
  margin: 0;
}

nav input[type="checkbox"] ~ ul {
  height: 0;
  overflow: hidden;
}

nav input[type="checkbox"]:checked ~ ul{
  height: auto;
}

nav {
  padding: 5px 8px;
	border-right: 1px solid #ddd;
}

nav ul {
  padding-top 0;
  padding-bottom 0;
}

nav li {
  list-style: none;
  margin: 10px 0 0 -10px;
}

nav input[type="checkbox"] {
	position: relative;
}

nav input[type="checkbox"]::after {
	display: block;
	content: '';
	position: absolute;
	top: -0.6em;
	left: -1em;
  width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 7px solid #aaa;
  transform-origin: 0.2em 0.3em;
}

nav input[type="checkbox"]:checked::after {
	transform: rotate(90deg);
}

nav a {
  color: #555;
  font-size: 0.85rem;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

main:not(:hover) {
  overflow: hidden;
}

.is-menu-open main {
  left: 200px;
}

body.top main {
  bottom: 0;
}

main .top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	width: 300px;
	height: 300px;
  text-align: center;
}

main .top ul {
  list-style: none;
  padding: 0;
  font-size: 0;
}

main .top li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}

main .top li:first-child {
  text-align: right;
  border-right: solid 1px #ddd;
}

main .top li:nth-child(2) {
  text-align: left;
}

main .top h1 {
  margin-top: 15px;
  font-size: 2.25rem;
  font-weight: 200;
  color: #555;
}

main .top a {
  font-size: 1rem;
}

.top              { display: none; }
.overview         { display: none; }
.getting_started  { display: none; }
.operation_manual { display: none; }
.general          { display: none; }
.preference       { display: none; }
.syntax_reference { display: none; }
.nas              { display: none; }
.abc              { display: none; }
.mml              { display: none; }
.support          { display: none; }
.license          { display: none; }

body.top              { display: block; }
body.overview         { display: block; }
body.getting_started  { display: block; }
body.operation_manual { display: block; }
body.general          { display: block; }
body.preference       { display: block; }
body.syntax_reference { display: block; }
body.nas              { display: block; }
body.abc              { display: block; }
body.mml              { display: block; }
body.support          { display: block; }
body.license          { display: block; }

body.top              .top              { display: block; }
body.overview         .overview         { display: block; }
body.getting_started  .getting_started  { display: block; }
body.operation_manual .operation_manual { display: block; }
body.operation_manual .general          { display: block; }
body.operation_manual .preference       { display: block; }
body.general          .operation_manual { display: block; }
body.preference       .operation_manual { display: block; }
body.general          .general          { display: block; }
body.preference       .preference       { display: block; }
body.syntax_reference .syntax_reference { display: block; }
body.syntax_reference .nas              { display: block; }
body.syntax_reference .abc              { display: block; }
body.syntax_reference .mml              { display: block; }
body.nas              .syntax_reference { display: block; }
body.abc              .syntax_reference { display: block; }
body.mml              .syntax_reference { display: block; }
body.nas              .nas              { display: block; }
body.abc              .abc              { display: block; }
body.mml              .mml              { display: block; }
body.support          .support          { display: block; }
body.license          .license          { display: block; }


body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    padding: 20px;
    word-wrap: break-word;
}
* {
    font-size: 14px;
    line-height: 1.6;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body>:first-child {
    margin-top: 0!important
}
body>:last-child {
    margin-bottom: 0!important
}
a {
    background: 0 0;
    color: #4183c4;
    text-decoration: none
}
a:active,
a:hover {
    outline: 0
}
a:active,
a:focus,
a:hover {
    text-decoration: underline
}
strong {
    font-weight: 700
}
em {
    font-style: italic
}
blockquote,
dl,
ol,
p,
pre,
table,
ul {
    margin-top: 0;
    margin-bottom: 16px
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4
}
h2,
h3,
h4 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
}
h1 {
    font-size: 2.25em;
    line-height: 1.2
}
h2 {
    margin-top: 0;
    font-size: 1.75em;
    line-height: 1.225;
    font-weight: 200;
    color: #555;
}
h2:before {
    content: " ";
    margin: 0 7px 0 0;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../shared/AppIcon.png);
    background-size: contain;
    transform: translateY(5px);
}
h3 {
    font-size: 1.375em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1.125em;
}
h6 {
    font-size: 1em;
}
h7 {
    font-size: 1em;
    color: #777;
}
code,
kbd,
pre {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace
}
code {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px
}
code:after,
code:before {
    letter-spacing: -.2em;
    content: '\00a0'
}
pre {
    word-wrap: normal;
    padding: 10px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background: 0 0
}
pre code:after,
pre code:before {
    content: normal
}
pre>code {
    font-size: 1em;
    word-break: normal;
    white-space: pre;
    border: 0
}
kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 5px 5px 1px;
    margin: 0 1px;
    font-size: 11px;
    line-height: 10px;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-shadow: 0 1px 0 #ccc
}
hr:after,
hr:before {
    display: table;
    content: ''
}
input {
    color: inherit;
    font: inherit;
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
    font-family: Helvetica, Arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'
}
input[disabled] {
    cursor: default
}
input[type=checkbox] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
blockquote {
    margin: 0 0 16px;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}
blockquote>:first-child {
    margin-top: 0
}
blockquote>:last-child {
    margin-bottom: 0
}
img {
    border: 0;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    background: #e7e7e7;
    height: 4px;
    padding: 0;
    margin: 16px 0;
    border: 0
}
hr:after {
    clear: both
}
td,
th {
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: auto;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}
table td,
table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}
table th {
    font-weight: 700
}
table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}
table tr:nth-child(2n) {
    background-color: #f8f8f8
}
ol,
ul {
    padding: 0 0 0 2em
}
ol ol,
ul ol {
    list-style-type: lower-roman
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
    margin-bottom: 0
}
ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
    list-style-type: lower-alpha
}
li>p {
    margin-top: 16px
}
dd {
    margin-left: 0
}
dl {
    padding: 0
}
dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}
dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}
